@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-display: swap;
  src: url("/themes/custom/bootcamp_theme/fonts/Roboto-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-display: swap;
  src: url("/themes/custom/bootcamp_theme/fonts/Roboto-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url("/themes/custom/bootcamp_theme/fonts/critical/ltr/Roboto-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swap;
  src: url("/themes/custom/bootcamp_theme/fonts/critical/ltr/Roboto-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 100 900;
  font-display: swap;
  src: url("/themes/custom/bootcamp_theme/fonts/Roboto-Serif-all.woff2") format('woff2');
}
