.top-content {
  background-color: rgba(232, 235, 252, 0.5);
  padding: 0 30px;
}

.top-content--container {
  max-inline-size: 1200px;
  inline-size: 100%;
  margin: 0 auto;
  padding-block: 25px 40px;
}

.top-content--node-title {
  padding-block-end: 16px;
}

.node--content-wrapper {
  margin: 20px auto 0;
  padding: 0 15px;
}
